@font-face {
  font-family: "Minecraft", Roboto;
  font-weight: 700;
  src: url("../../public/Minecraft.ttf");
}

body {
  margin: 0;
  font-family: "Minecraft", Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aquamarine;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40vh;
}

.btn {
  line-height: 5em;
  height: 5em;
  text-align: center;
  width: 50vw;
  cursor: pointer;
}

.btn-two {
  color: #fff;
  transition: all 0.5s;
  position: relative;
  font-weight: 700;
  font-size: 30px;
}

.btn-two span {
  z-index: 2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
.btn-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.btn-two::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(26, 10, 10, 0.2);
  border-radius: 5px;
}
.btn-two:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255, 255, 255, 0);
}
.btn-two:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255, 255, 255, 0);
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 30vh;
}

.footer h1 {
  font-size: 0.7em;
}

.gh-icon {
  padding-left: 30px;
}

.ig-icon {
  padding-right: 30px;
}
